@page
@model KhumaloCraft.Pages.AboutModel
@{
}
<div class="text-center">
    <h1 class="display-4">Khumalo Crafts Emporium</h1>
</div>
<br />
<p>
    Khumalo Crafts Emporium showcases some of the world-best hand-crafted products.
    Artisans globally are able to coordinate on some of the best hand-crafted products in the world.

    The company is based in South Africa in the province of Kwa-Zulu Natal. Our organization is willing
    to collaborate with other nation's special hand-crafted products. Please contact us.

    All products sold on the website are exclusively owned by the Artisans.
    <br />
    <br />
    All Crafts are prices in South African Rands.
</p>
       