@page
@model KhumaloCraft.Pages.ContactsModel
@{
}
<div class="text-center">
    <h1 class="display-4">Khumalo Crafts Emporium</h1>
</div>
<br />

<div class="row">
    <div class="col-lg-9 mx-auto rounded border p-3">
    <h2 class="text-center mb-5">Contact Form</h2>

    @if(Model.errormessage.Length>0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.errormessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>    
    }
    else if(Model.successmessage.Length>0)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.successmessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

    <form method="post">
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">First Name</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="firstName" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
        </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="lastName" />
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="email" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone Number</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="phone" />
                    <span asp-validation-for="phone" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Subject</label>
                <div class="col-sm-8">
                   <select class="form-select" asp-for="subject">
                        <option value="Craft Information">Craft Information</option>
                        <option value="Contact Me">Contact Me</option>
                        <option value="Errors On Website">Errors on Website</option>
                        <option value="Craft Issue">Craft Issue</option>
                   </select>
                    <span asp-validation-for="subject" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Message</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="message"></textarea>
                    <span asp-validation-for="message" class="text-danger"></span>
                </div>
            </div>

            <div class="row">             
                <div class="offset-sm-4 col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
    </form>
    </div>
</div>
